.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("./../img/Fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
  padding-top: 140px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 50%;
  max-height: 55vh;
  overflow-y: auto; /* Barra de desplazamiento si el texto es muy largo */
  padding-right: 10px;
  box-sizing: border-box;
}

/* Personalización del scrollbar */
.hero-text::-webkit-scrollbar {
  width: 8px; /* Anchura de la barra de desplazamiento */
}

.hero-text::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* Color semi-transparente para el thumb (la barra que se mueve) */
  border-radius: 10px; /* Bordes redondeados */
}

.hero h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: var(--white);
}

.hero-legend {
  font-size: 1.2rem;
  line-height: 1.6;
}

.hero-empty-space {
  flex: 1;
  max-width: 50%;
}

.hero-content p {
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--green);
  color: var(--white);
  border: none;
  cursor: pointer;
}

/* Estilos para resoluciones de celular */
@media (max-width: 768px) {
  .hero {
    height: auto;
    padding-top: 200px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
  }

  .hero-text {
    max-width: 100%;
    max-height: none;
    padding-right: 0;
  }

  .hero-empty-space {
    display: none;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .hero-legend {
    font-size: 1rem;
  }
}