/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-brown);
  color: var(--brown);
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

a {
  text-decoration: none;
  color: var(--green);
}

button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilos específicos para resoluciones pequeñas */
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 10px; /* Añade un pequeño padding para evitar que el contenido toque los bordes */
  }
}